<!DOCTYPE html>
<html>
  <head>
    <title>ConcertRailsProject</title>
    <%= csrf_meta_tags %>
<link href="https://fonts.googleapis.com/css?family=Bangers|ZCOOL+QingKe+HuangYou&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <div class="background-image">
      <div class="opacity">
    <% unless 1 == 1 && 1 == 2 %>
      <% if current_user %>
<<<<<<< HEAD
        <div class="header">
          <div id="welcome_user">Welcome, <%= link_to current_user.username.titlecase, user_path(current_user) %>
            <h4 id="logout"><%= link_to "Logout", logout_path %></h4>
          </div>
        </div>

    <!-- <div class="all-cards"> -->
        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="https://images.unsplash.com/photo-1571115639914-0c85b3920515?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">See All Artists</h5>
            <a href="/artists" class="btn btn-primary">Artists</a>
          </div>
        </div>

        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="https://images.unsplash.com/photo-1568734066241-45094773addb?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">See All Concerts</h5>
            <a href="/concerts" class="btn btn-primary">Concerts</a>
          </div>
        </div>
      <!-- </div> -->

        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="https://images.unsplash.com/photo-1449748040579-354c191a7934?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">See All Venues</h5>
            <a href="/venues" class="btn btn-primary">Venues</a>
          </div>
=======
          <div> Welcome, <%= link_to current_user.username.titlecase, user_path(current_user) %>
          <%= link_to 'See all artists', artists_path %>
          <%= link_to 'See all concerts', concerts_path %>
          <%= link_to 'See all venues', venues_path %></div>
          <div><%= link_to "Logout", logout_path %></div>
>>>>>>> bcfc8f79f98767b94531789082b2dbc978f55679
        </div>
      <% else %>
        <div><%= link_to "Please log in", login_path %></div>
      <% end %>
    <% end %>
    <%= yield %>
    </div>
    </div>
  </body>
</html>
