<div id="profile-header"><h1>Profile Page for <%= @user.name %> </h1>
  </div>
  <div id="profile-attributes">
    <h2>Username: <%= @user.username %></h2>
    <h2>Age: <%= @user.age %></h2>
  </div>


<div class="favorites">
    <h3>Favorite Artists:<h3>
    <ul>

    <% @user.artists.each do |a| %>
        <li>
        <%= link_to a.name, artist_path(a) %>
        </li>
        <% end %>
    </ul>
<h3>Favorite Venues:<h3>
<ul>
<% @user.venues.each do |v| %>
    <li>
    <%= link_to v.name, venue_path(v) %>
    </li>
    <% end %>
</ul>

<h3>Upcoming Concerts:<h3>
<ul>
<% @user.concerts.each do |c| %>
    <li>
    <%= link_to c.name, concert_path(c) %>
    </li>
    <% end %>
</ul>
</div>

<h3>Attended Concerts:<h3>
<ul>
<% @user.past_concerts.each do |c| %>
    <li>
    <%= link_to c.name, concert_path(c) %>
    </li>
    <% end %>
</ul>

<h3>My reviews:<h3>
<ul>
<% @user.reviews.each do |r| %>
<<<<<<< HEAD
    <li>
    <%= link_to r.concert.name, concert_path(r.concert.id) %>
    <%= r.title %>
    <%= r.content %>
    </li>
=======
    <li>Concert: <%= link_to r.concert.name, concert_path(r.concert.id) %></li>
    <li>Written: <%= r.created_at.strftime('%B %e, %Y') %></li>
    <li>Review: <%= r.content %></li>
    <li>Rating (out of 10): <%= r.rating %></li>
>>>>>>> bcfc8f79f98767b94531789082b2dbc978f55679
    <% end %>
</ul>
