

<h1><%= @concert.name %> information</h1>
<h2><%= link_to @concert.venue.name, venue_path(@concert.venue) %></h2>
<h2><%= @concert.try(:date).try(:strftime, '%B %e, %Y') %></h2>
<h2>Main Act: <%= link_to @concert.headliner.artist.name, artist_path(@concert.headliner.artist.id) %></h2>
<h2>Opening Act: <%= @concert.support_acts %></h2>

<% if @concert.happened? %>
<h2> Leave a review! <h2>
<% if flash.notice %>
<%= flash.notice %>
<% end %>
<%= form_for [@concert, @review] do |f| %>
      <%= f.label :title %>
      <%= f.text_field :title %><br/>
      <%= f.label :content %>
      <%= f.text_area :content %><br/>
      <%= f.label :rating, "Rating" %>
      <%= f.number_field :rating, {min: 0, max: 10} %>
      <%= f.submit %>
      <% end %>
      
      <h1> Reviews: <h1>
      <ul>
      <% @concert.reviews.each do |r| %>
        <li>Review By: <%= link_to r.user.username, user_path(r.user_id) %></li>
        <li>Written <%= r.created_at.strftime('%B %e, %Y') %></li>
        <li><%= r.content %></li>
        <li>Rating (out of 10): <%= r.rating %></li>
        <% end %>
        </ul>
        
        <% else %>
        <%= link_to "RSVP", concert_upcoming_concerts_path(@concert), method: :post %>
        <% if flash.notice %>
        <%= flash.notice %>
        <% end %>
        <%= link_to "No longer attending this event?", concert_upcoming_concert_path(@concert), method: :delete %>
        <% end %>

        